body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 100vh;
    position: relative;
    background-color: white;
}

.bar {
    background-color: transparent;
    height: 0px;
    width: 100%;
    margin: 0;
    padding: 0px;
    display: flex;
    justify-content: space-between;

}

.navbar {
    background: rgba(0, 0, 0, 0.3);
    font-family: "gotham", helvetica;
    text-decoration: dotted;
    z-index: 1;
    position: fixed;
}

.navbar li {
    float: left;
    list-style: none;
    padding: 16px 30px;
}

.navbar ul {
    overflow: auto;


}

.navbar li a {
    padding: 3px 3px;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.navbar a:hover {
    color: grey;

}

#img1 {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    display: flex;
}

#img1 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    -webkit-filter: blur(1px);
    filter: blur(2px)
}

.hero-image {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("pexels-mart-production-7679866.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 0;
    height: 1068px;
    margin-right: auto;
}



.hero-text {
    position: absolute;
    top: 41%;
    left: 28%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    margin-left: 10px;
}
.hero-text > h1 :nth-child(2){
    font-family: "gotham", helvetica;;
}

.hero-text P {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.hero-text button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 25px;
    color: black;
    background-color: #ddd;
    text-align: center;
    cursor: pointer;
}

.hero-text button:hover {
    background-color: #555;
    color: white;
}

.logo {
    width: 10px;
    height: 10px;
    padding: 10px;
}

.circle {
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 2;
    border: 0.5px solid black;

}

.search_box {
    border: solid 5px white;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.3);
}

.menue ul li a {
    margin: 0px;
}

* {
    cursor: none !important;
}

.container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    padding: 20px;
    margin: 20px auto;
    flex-wrap: wrap
}

#t1 {
    text-align: center;
    color: black;
}

.container>div {
    height: 300px;
    width: 300px;
    margin: 10px;
    overflow: hidden;
}

.container>div img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.shop{
    display: flex;
    width: 10vh;
    height: 26vh;
    justify-content: left;
    margin-left: 80px;
}
.diy_school{
    display: flex;
    width: 10vh;
    height: 26vh;
    justify-content: center;

}
.tutorials{
    display: flex;
    width: 10vh;
    height: 26vh;
    justify-content: right;
    margin-right: 80px;

}
#videolst{
    display: flex;
    justify-content: space-between;
    margin-top: 10vh;
}
#tutorial1{
    display: flex;
    margin-top: 200px;
}
.distressed{
    width: 100px;

}


